.att { padding:0px; margin:0px; height:100%; z-index:2; }
.linkbutton { text-align:center; margin-top:5px; padding:5px; }
.embed { vertical-align:text-top; padding:0px; margin:0px; border:0px,0px,0px,0px; width:100%; }
.noborder { border-width:0px; margin-top:-1px; padding-top:-1px; margin-bottom:-1px; padding-bottom:-1px; }

body {
	text-align: center;
}
#ssql_body_contents {
	display: inline-block;
	text-align: left;
}

.TFE10000{ width:200px; }
.TFE10001{ width:200px; }
.TFE10002{ width:400px; }
.TFE10003{ width:400px; }
.TFE10016{ width:200px; }
.TFE10021{ width:200px; }
.TFE10026{ width:400px; }
.TFE10031{ width:400px; }
.TFE10039{ width:560px; }


