.att { padding:0px; margin:0px; height:100%; z-index:2; }
.linkbutton { text-align:center; margin-top:5px; padding:5px; }
.embed { vertical-align:text-top; padding:0px; margin:0px; border:0px,0px,0px,0px; width:100%; }
.noborder { border-width:0px; margin-top:-1px; padding-top:-1px; margin-bottom:-1px; padding-bottom:-1px; }

body {
	text-align: center;
}
#ssql_body_contents {
	display: inline-block;
	text-align: left;
}

.TFE10010{ width:200px; }
.TFE10011{ width:200px; }
.TFE10012{ width:400px; }
.TFE10013{ width:400px; }
.TFE10026{ width:200px; }
.TFE10031{ width:200px; }
.TFE10035{ width:400px; }
.TFE10037{ width:400px; }
.TFE10045{ width:560px; }


